doctype html
html
    head
        title= 'Burgers'
    body
        each burger in burgers
            div#menu()
                ul
                    li #{burger.name}#{burger.description}
                    img(#{burger.image})