extends layout

block vars
    - var title = 'Burgers'

block content
    each burger in burgers
            div#menu()
                ul
                    li #{burger.name}#{burger.description}
                    img(#{burger.image})

