extends layout
block content
    each burger in burgers
        div#menu()
            img#image(src=burger.image)
            ul
                li #{burger.name}#{burger.description}
               
