extends layout

block vars
    - var title = 'Desserts'

block content
    each dessert in desserts
            div#menu()
                ul
                    li #{dessert.name}#{dessert.description}
                    img(#{burger.image})

