extends layout
block content
    each dessert in desserts
        div#menu()
            img#image(src=dessert.image)
            ul
                li #{dessert.name}#{dessert.description}
               
