extends layout

block vars
    - var title = 'Home'

block content
    h1 TNS Burgers
    div (Insert Generic Store Front Photo Here)
    p Welcome to TNS Burgers. For years we've been providing the best experience everytime a customer walks through the door. Our food speaks for itself, so come in for a burger and maybe a shake or two and let us show you exactly what we mean.
    h2 Happiness is just a bite away