html 
    head
        link(href='css/style.css', rel='stylesheet')
        title = 
        // block ___ is just a blanks space of a specified type that can be replaced later
        block scripts
            // scripts( <link to script here> )
    body
        block content
        foot = "Team No Sleep Copyright 2017"
