doctype html
html 
    block vars 
    head
        title #{title}
        link(href='css/style.css', rel='stylesheet')
        block vars
    body
       header
        nav 
            a(href='index') Home
            a(href='burgers') Burgers
            a(href='sides') Sides
            a(href='desserts') Desserts
            a(href='directions') Directions
        section
            block content
       footer Team No Sleep&copy; 2017