doctype html
html 
    head
        title #{title}
        link(href='css/style.css', rel='stylesheet')
        block vars
    body
       header
        nav 
            a(href='') Home
            a(href='') Burgers
            a(href='') Sides
            a(href='') Desserts
            a(href='') Directions
        
       footer Team No Sleep&copy; 2017