extends layout

block vars
    - var title = 'Sides'

block content
    each side in sides
            div#menu()
                ul
                    li #{side.name}#{side.description}
                    img(#{burger.image})

