extends layout
block content
    each side in sides
        div#menu()
            img#image(src=side.image)
            ul
                li #{side.name} 
                li Description: #{side.description}
               
