html {
   
    background:whitesmoke;
    color: #ff4411;
   font-family: 'Pangolin', cursive;
}

body {
    width: 80%;
    background: #fafac6;
    color: #ff4411;
    padding: 50px 0px 150px 0px;
    margin: 25px auto;   
    text-align: center;
}
header {
    background:#bac0ac ;
    color: #fff;
    height: 50px;
    width: auto;
    text-align: center;
    padding: 5px;
    color: #ff4411;
    font-family: 'Pacifico', cursive;
    
}

 h1 {
        align-self: center;
        text-align: center;
        color: #ff4411;
       font-family: 'Pacifico', cursive;
    }



images{ 
       
     align-self: center;
     padding: 2px;
}
nav li {
    
    display: inline-block;    
    width: 80px;
    margin-bottom: 5px;
    margin-right: 40px;
    padding: 5px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border-right: 1px #D40015;
}

li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:link{
    color: #D40015;
}
a:visited{
    color: #D40015;
}

nav :hover {
    color:#d5d5d5;
}
footer {
        margin: 50px, 0px, 50px, 0px;
         background:#bac0ac ;
        text-align: center;
}